.RegisterPermission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f0f0f0 0%, #d9d9d9 100%);
    font-family: Arial, sans-serif;
}

.RegisterPermission h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.RegisterPermission form {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid #007777;
}

.RegisterInputContainer {
    position: relative;
    margin-bottom: 10px;
    text-align: left;
}

.RegisterCpfInput,
.RegisterNameInput,
.RegisterEmailInput,
.RegisterPasswordInput,
.RegisterConfirmPasswordInput {
    display: flex;
    align-items: center; /* Alinhamento vertical dos itens */
}

.RegisterCpfInput input,
.RegisterNameInput input,
.RegisterEmailInput input,
.RegisterPasswordInput input,
.RegisterConfirmPasswordInput input {
    width: 100%;
    padding: 12px 12px 12px 40px; /* Ajuste o padding para dar espaço ao ícone */
    border: 1px solid #007777;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 16px;
    transition: all 0.3s ease;
}

.RegisterCpfInput input:focus,
.RegisterNameInput input:focus,
.RegisterEmailInput input:focus,
.RegisterPasswordInput input:focus,
.RegisterConfirmPasswordInput input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 2px #007777;
}

.RegisterInputContainer .Icon {
    position: absolute;
    left: 12px; /* Alinhamento do ícone */
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.errorAlert {
    color: red;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 5px;
   text-align: center;
}

.RegisterBtnRegister button,
.RegisterBtnLogin button {
    width: 100%;
    padding: 12px;
    border: 1px solid #007777;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.RegisterBtnRegister button {
    background-color: #007777;
    color: white;
    margin-bottom: 10px;
}

.RegisterBtnRegister button:hover {
    background-color: #005a5a;
    box-shadow: 0 4px 8px rgba(0, 119, 119, 0.5);
}

.RegisterBtnLogin button {
    background-color: transparent;
    color: #007777;
    margin-bottom: 10px;
}

.RegisterBtnLogin button:hover {
    background-color: rgba(0, 119, 119, 0.1);
    color: #005a5a;
}

@media (max-width: 480px) {
    .RegisterPermission form {
        width: 90%;
        padding: 20px;
    }
}
