/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.infoContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.infoProfileEdit {
  width: 100%;
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid #007777;
}

.infoProfileHeader {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 30px;
}

.infoProfileHeader h1 {
  font-size: 28px;
}

.infoFormGroup {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.UserInput, .UserPassword {
  position: relative;
  margin-bottom: 10px; 
}

.UserInput input, .UserPassword input {
  width: 100%;
  padding: 12px 12px 12px 40px; 
  border: 1px solid #007777;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 16px;
  transition: all 0.3s ease;
}

.UserInput input:focus, .UserPassword input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 2px #007777;
}

.infoButtonGroup {
  display: flex;
  justify-content: center; 
  margin-top: 30px;
}

.infoButtonSave {
  padding: 15px 30px;
  border: 1px solid #007777;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: #007777;
  color: white;
  transition: all 0.3s ease;
}

.infoButtonSave:hover {
  background-color: #005a5a;
  box-shadow: 0 4px 8px rgba(0, 119, 119, 0.5);
}

.infoButtonBack {
  background: none;
  border: none;
  color: #008080;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.infoButtonBack:hover {
  text-decoration: underline;
}

.infoArrow {
  margin-right: 8px;
}

.UserInput {
  position: relative;
  margin-bottom: 10px; 
}

.UserInput img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px; /* Ajuste o tamanho se necessário */
  height: 20px; /* Ajuste o tamanho se necessário */
  pointer-events: none; 
}

.UserInput input {
  width: 100%;
  padding: 12px 12px 12px 40px; /* Espaço para o ícone */
  border: 1px solid #007777;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 16px;
  transition: all 0.3s ease;
}

.UserInput input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 2px #007777;
}


@media (max-width: 768px) {
  .infoContainer {
    flex-direction: column;
  }

  .infoProfileEdit {
    padding: 30px;
  }

  .infoProfileHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .infoProfileHeader h1 {
    margin-top: 20px;
  }
}
