.ChangePasswordPermission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f0f0f0 0%, #d9d9d9 100%);
    font-family: Arial, sans-serif;
}

.ChangePasswordForm {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px);
    border: 1px solid #007777;
}

h1 {
    text-align: center; 
    margin-bottom: 20px;
}

.InputCurrentPassword,
.InputNewPassword,
.InputConfirmNewPassword {
    position: relative;
    margin-bottom: 20px;
}

.InputCurrentPassword input,
.InputNewPassword input,
.InputConfirmNewPassword input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #007777;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
    color: #333; 
    font-size: 16px;
    transition: all 0.3s ease;
}

.InputCurrentPassword input:focus,
.InputNewPassword input:focus,
.InputConfirmNewPassword input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 1); 
    box-shadow: 0 0 0 2px #007777; 
}

.InputCurrentPassword input::placeholder,
.InputNewPassword input::placeholder,
.InputConfirmNewPassword input::placeholder {
    color: rgba(0, 0, 0, 0.5); 
}

.InputCurrentPassword::before,
.InputNewPassword::before,
.InputConfirmNewPassword::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.InputCurrentPassword::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23009688'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z' /%3E%3C/svg%3E");
}

.InputNewPassword::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23009688'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z' /%3E%3C/svg%3E");
}

.InputConfirmNewPassword::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23009688'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z' /%3E%3C/svg%3E");
}

.BtnChangePassword {
    display: flex;
    justify-content: center;
}

.BtnChangePassword button {
    width: 100%;
    padding: 12px;
    border: 1px solid #007777;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #007777;
    color: white;
}

.BtnChangePassword button:hover {
    background-color: #005a5a;
    box-shadow: 0 4px 8px rgba(0, 119, 119, 0.5);
}

.BtnLogin {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espaço entre os botões */
}

.BtnLogin button {
    width: 100%;
    padding: 12px;
    border: 1px solid #007777;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ffffff;
    color: #007777;
}

.BtnLogin button:hover {
    background-color: rgba(0, 119, 119, 0.1);
    color: #005a5a;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content {
    background: white;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    width: 90%;
  }
  


@media (max-width: 480px) {
    .ChangePasswordForm {
        width: 90%;
        padding: 20px;
    }
}
