.main {
  width: 100vw;
  height: 100vh;
}

.navbar_main {
  width: 100%;
  height: 10%;
  display: flex;
}

.navbar_left {
  height: 100%;
  width: 5%;
  background-color: #007777;
  border-bottom: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.navbar_right {
  height: 100%;
  width: 95%;
  background-color: #f8f8ff;
  border-bottom: solid 1px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.content_main {
  width: 100%;
  height: 90%;
  display: flex;
}

.content_left {
  background-color: #007777;
  height: 100%;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

img {
  width: 35px;
  height: 35px;
}

.icon_navbar_div {
  background-color: #1D70BA;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin: 15px;
  display: flex;
}

.icon_navbar_div:hover{
  opacity: 0.9;
  cursor: pointer;
}

.options_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.options_div:hover{
  opacity: 0.6;
  cursor: pointer;
}


h2{
  margin: 5px;
  color: #f8f8ff;
}

.perfil_div {
  width: 100%;
  max-width: 250px;
  height: auto;
  background-color: #1D70BA;
  border-radius: 30px;
  color: #f8f8ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 10px;
  transition: opacity 0.3s ease;
}

.perfil_div:hover {
  opacity: 0.8;
  cursor: pointer;
}

.perfil_div_text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.perfil_div p {
  margin: 0;
  font-size: 14px;
}

.perfil_div h1 {
  font-size: 20px;
  margin: 0;
  color:snow;
}