.component {
  background-color: #f8f8ff;
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Adicionado para o posicionamento do botão */
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button_refund {
  width: 250px;
  height: 50px;
  background-color: #f8f8ff;
  color: black;
  border: solid 1px #007777;
  margin: 10px;
}

.button_refund:hover {
  color: #f8f8ff;
  background-color: #007777;
}

.infoButtonBack {
  background: none;
  border: none;
  color: #008080;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.infoButtonBack:hover {
  text-decoration: underline;
}

/* Nova classe para posicionar o botão no canto superior direito */
.button_back_position {
  position: absolute;
  top: 10px;
  left: 10px;
}
